.AsanasGrid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  overflow: hidden;
}

.AsanasGridDragIcon {
  position: absolute;
  right: 0;
  top: 45%;
  cursor: grab;
}

.AsanasGridDragIcon:active {
  cursor: grabbing;
}

.AsanasGridDraggableWrapper {
  height: auto;
}

.AsanasGridDraggable {
  height: 100%;
  overflow: hidden;
}

.AsanaGridDragging {
  height: 0;
  transition: all 0ms ease 10ms;
}

.AsanasGridDraggable .closeGridIconDiv .MuiButtonBase-root {
  opacity: 0;
}

.AsanasGridDraggable:hover .closeGridIconDiv .MuiButtonBase-root {
  opacity: 100%;
}
