.AsanasGridDragIcon {
  position: absolute;
  right: 0;
  top: 45%;
  cursor: grab;
}

.AsanasGridDragIcon:active {
  cursor: grabbing;
}

.AsanaGridDragging {
  height: 0 !important;
  transition: all 0ms ease 10ms;
}

.TextFieldIconWrapper {
  display: flex;
  align-items: center;
}
