.AsanasGrid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
}

.AsanasGridDragIcon {
  position: absolute;
  right: 0;
  top: 45%;
  cursor: grab;
}

.AsanasGridDragIcon:active {
  cursor: grabbing;
}
