.Panel {
  height: 100%;
}

.PanelFlexBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PanelFlexElement {
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-left: -10px;
  padding-left: 10px;
  flex-grow: 3;
}
